* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Crimson Text', times, serif;
  color: #222;
  line-height: 1.4;
  letter-spacing: 0.0625rem;
}

*,
*:before,
*:after { box-sizing: inherit; }

body {
  max-width: 120rem;
  background: #efefef url("img/ricepaper2.png") repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
#leftNavTabs li {
  font-family: 'Montserrat', arial, sans-serif;
}

.pageWrap {
  margin: 1.5% auto 0;
  display: block;
  max-width: 90rem;
}


/* leftNav section layout controls */
#leftNav {
  float: left;
  position: relative;
  width: 25%;
  height: 90vh;
}
#leftNavTabs {
  position: absolute;
  top: 2.5%;
  left: 0;
  width: 100%;
}
#leftNavTabs li {
  margin-bottom: 0.5rem;
  padding: 1rem;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.125rem;
  color: #fff;
  border-radius: 1rem 0 0 1rem;
  cursor: pointer;
}
#homeTab {
  background-color: #222;
  color: #fff;
}
#applesauceTab { background-color: green; }
#muffinsTab { background-color: teal; }
#brineTab { background-color: blue; }
#chiliTab { background-color: indigo; }
#porkTab { background-color: violet; }
#saladTab { background-color: red; }
#soupTab { background-color: orange; }


/* rightDisplay section layout controls */
#rightDisplay {
  position: relative;
  float: right;
  width: 75%;
  z-index: 100;
}
.recipeArticle {
  padding: 2.5%;
  min-height: 80vh;
  border-radius: 0 1rem 1rem 0;
  background-color: #fff;
}
.recipeArticle ul,
.recipeArticle ol { margin-left: 2.5rem; }

.recipeInfo,
.recipeReview,
.recipeIngredients,
.recipeDirections {
  margin: 0 auto 0.75rem;
  max-width: 48rem;
  display: block;
}
#homeArticle {
  position: absolute;
  right: -100vw;
  position: relative;
  border: 0.5rem solid #222;
  display: block;
}
.homeInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1 {
  margin-bottom: 1em;
  font-size: 2.5rem;
}
#applesauceArticle,
#muffinsArticle,
#brineArticle,
#chiliArticle,
#porkArticle,
#saladArticle,
#soupArticle { display: none; }

#applesauceArticle { border: 0.5rem solid green; }
#muffinsArticle { border: 0.5rem solid teal; }
#brineArticle { border: 0.5rem solid blue; }
#chiliArticle { border: 0.5rem solid indigo; }
#porkArticle { border: 0.5rem solid violet; }
#saladArticle { border: 0.5rem solid red; }
#soupArticle { border: 0.5rem solid orange; }


footer {
  margin-top: 1rem;
  clear: both;
  text-align: right;
  font-size: 0.875rem;
}
